<form name="uploadForm" action="/user/formupload" method="post" enctype="multipart/form-data" ng-hide="hideUploadContentForm">
  <md-toolbar class="black" layout="row">
    <h1 class="md-toolbar-tools thin">Upload Content</h1>
  </md-toolbar>
  <br>
  <div class="container-fluid">
    <div class="row">

      <div class="col-xs-6 col-md-6 col-sm-12">
        <md-toolbar md-scroll-shrink="">
          <div class="md-toolbar-tools" style="background-color: darkcyan;color: white;">Please Upload A File</div>
          <md-content layout-padding style="background-color: #e6f3ff;">
            <div class="input-group">
              <input type="file" style="width:100%;background-color: aliceblue;" ngf-select ng-model="picFile" name="file" required">
            </div>
            <img ng-show="uploadForm.file.$valid" ngf-thumbnail="picFile" class="thumb">
            <br>
            <button class="btn btn-danger" ng-click="picFile = null" ng-show="picFile">Remove</button>
          </md-content>
        </md-toolbar>
        <br>
      </div>

      <div class="col-xs-6 col-md-6 col-sm-12">
        <md-input-container class="md-block" flex-gt-sm="" required>
          <label>District</label>
          <md-select ng-model="contentUploadedDetails.district" ng-change="setParliamentAndAssemblyDropDownValues(contentUploadedDetails.district)">
            <md-option ng-repeat="district in Districts" value="{{district}}">
              {{district}}
            </md-option>
          </md-select>
        </md-input-container>
        <br>
        <md-input-container class="md-block" flex-gt-sm="" required>
          <label>Assembly Constituency</label>
          <md-select ng-model="contentUploadedDetails.assemblyConstituency">
            <md-option ng-repeat="assemblyConstituency in assemblyConstituenciesForDropdown" value="{{assemblyConstituency}}">
              {{assemblyConstituency}}
            </md-option>
          </md-select>
        </md-input-container>
        <br>
        <md-input-container class="md-block" flex-gt-sm="" required>
          <label>Parliament Constituency</label>
          <md-select ng-model="contentUploadedDetails.parliamentConstituency">
            <md-option ng-repeat="parliamentConstituency in parliamentConstituencies" value="{{parliamentConstituency}}">
              {{parliamentConstituency}}
            </md-option>
          </md-select>
        </md-input-container>
        <br>
        <md-input-container class="md-block" required>
          <label>Tags(comma separated)*</label>
          <input type="text" ng-model="contentUploadedDetails.tags">
        </md-input-container>
        <!-- <br> -->
        <md-input-container class="md-block" required>
          <label>Comment</label>
          <textarea ng-model="contentUploadedDetails.comment" max-rows="3"></textarea>
        </md-input-container>
        <md-button type="submit" class="md-accent md-raised" style="background-color: darkcyan;" ng-click="submitContentDetails(picFile)">Submit</md-button>
      </div>
    </div>
  </div>
</form>

<!-- <div class="container-fluid" ng-hide="hideUploadedContentCards">
  <div class="row">
    <div class="col-md-4 col-sm-12 col-xs-4" ng-repeat="content in contentUploaded" ng-init="content.hideEditButton=true;content.hideDeleteButton=true">
      <md-card ng-mouseenter="showEditDeleteButtons(content)" ng-mouseleave="hideEditDeleteButtons(content)" ng-init="getFileExtension(content)">
        <img src="/uploads/{{content.uploaded_file_name}}" class="md-card-image cardImage" alt="image/video N/A" ng-show="{{imageFileType}}">
        <video width="100%" height="250" preload="auto" controls ng-show="{{videoFileType}}">
          <source src="/uploads/{{content.uploaded_file_name}}" type="video/{{videoFileExtension}}">
          Your browser does not support the video tag.
        </video>
        <md-card-content>
          <p><b>District:</b> {{content.district}}</p>
          <p><b>Constituency:</b> {{content.constituency}}</p>
          <p><b>Tags:</b> {{content.tags}}</p>
          <p><b>Comment:</b> {{content.comment}}</p>
        </md-card-content>
        <md-card-footer>
          <md-button ng-hide="content.hideEditButton" class="md-raised md-primary">Edit</md-button>
          <md-button ng-hide="content.hideDeleteButton" class="md-raised md-warn" style="background-color:#FF0000">Delete</md-button>
        </md-card-footer>
      </md-card>
    </div>
  </div>
</div> -->
