/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.cardImage {
  width: 100%;
  height: 250px;
}

.plusButton{
  position: absolute;
  top: 0px;
  right: 0px;
}

.rotatedCSS {
  transform: rotate(180deg); /* Equal to rotateZ(45deg) */
  /*background-color: pink;*/
}

#loginCardCss {
  width:45% !important;
  position: absolute;
  margin: auto;
  top: 5%;
  right: 0px;
  left:0px;
}

.LogininputLabelClass{
  left:6px;
}

body {
  background-image: linear-gradient(-90deg, #66a3ff, #7300e6);
}

.nobodybggradientForLoggedinUsers {
  background-image: none
}
