<md-toolbar class="black" layout="row">
  <h1 class="md-toolbar-tools thin">Content Uploading Portal</h1>
  <span flex></span>
</md-toolbar>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <!--
      <md-content layout-padding>
        <md-button class="md-raised">Select file to upload</md-button>
        <div flow-file-success="$file.msg = $message" flow-files-submitted="$flow.upload()" flow-init="{target: '/upload'}">
        </div>
      </md-content> -->

      <md-toolbar md-scroll-shrink="">
        <div class="md-toolbar-tools">Please Upload A File</div>
      </md-toolbar>

      <md-content layout-padding>
        <div flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-init="{singleFile:true}">
          <!-- <div ng-show="!$flow.files.length">
            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" />
          </div> -->
          <div ng-show="$flow.files.length">
            <img flow-img="$flow.files[0]" />
          </div>
          <div>

            <input class="file-input" flow-btn id="select" ng-show=false>
            <span flow-btn>
              <md-button ng-show="!$flow.files.length" flow-file-added="fileSelected($flow, $event)" class="md-raised md-primary">Select image</md-button>
            </span>

            <table>
              <tr ng-repeat="file in $flow.files">
                <td>{{$index+1}}</td>
                <td>{{file.name}}</td>
                <td>{{file.msg}}</td>
              </tr>
            </table>

            <input class="file-input" flow-btn id="change" ng-show=false>
            <span flow-btn>
              <md-button ng-show="$flow.files.length" class="md-raised md-accent"> Change </md-button>
            </span>

            <input class="file-input" id="cancel" ng-show=false>
            <span>
              <md-button ng-show="$flow.files.length" ng-click="removeImg($flow)" class="md-raised md-warn"> Remove </md-button>
            </span>

          </div>
        </div>
      </md-content>
    </div>
    <div class="col-md-6">

      <md-input-container class="md-block" flex-gt-sm="" required>
        <label>District</label>
        <md-select ng-model="user.state">
          <md-option ng-repeat="state in states" value="{{state.abbrev}}">
            {{state.abbrev}}
          </md-option>
        </md-select>
      </md-input-container>
      <br>
      <md-input-container class="md-block" required>
        <label>Tags</label>
        <input type="text" ng-model="user.name">
      </md-input-container>
      <br>
      <md-input-container class="md-block" required>
        <label>Comment</label>
        <textarea ng-model="user.description" max-rows="4"></textarea>
      </md-input-container>
      <br>
      <md-button class="md-accent md-raised">Submit</md-button>
    </div>
  </div>
